.checkoutWrapper {
    .title {
      margin-left: 22%;
      @media screen and (max-width: 800px) {
        margin-left: 10%;
      }
    }
    .wrapper {
      display: flex;
      justify-content: center;
      @media screen and (max-width: 800px) {
        flex-direction: column-reverse;
        align-items: center;
      }
    }
    
  }
  