.totalWrapper {
    .line {
        width: 80%;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .shippingWrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: -10px;
        .shippingTitle {
            margin-left: 30px;
            margin-top: 0px;
        }
        .shippingPrice {
            margin-right: 30px;
            font-weight: bold;
        }
    }
    .totalWrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: -10px;
        .totalTitle {
            margin-left: 30px;
            margin-top: 0px;
        }
        .totalPrice {
            margin-right: 30px;
            font-weight: bold;
        }
    }
}