.image {
  height: 5%;
  width: 20%;
  border-radius: 50%;
  margin-top: 2rem;
}

.description {
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 5rem;
}